<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdtower.mapper.DataUserMapper">

	<select id="getDataUsers" parameterType="com.sdtower.common.bean.DataUserPage" 
	  										resultType="com.sdtower.common.bean.DataUser">
	  select * from (select *,ROW_NUMBER() OVER (ORDER BY addtime desc) as rank from
	  (
	  SELECT a.User_name as username,
	       a.User_tele as usertele,
	       c.City_name as cityname,
	       b.area_name as areaname,
	       (select count(1)from user_favourite_tower f where f.Wx_id=a.Wx_id) as gzcount,
	       d.Order_count as dqcount,
	       d.Succ_count as succcount,
	       d.Reject_count as rejectcount,
	       d.Cancel_count as cancelcount,
	       d.Time_count as timecount,
	       a.Add_time as addtime
	      from Tower_User_info a
	      LEFT JOIN Tower_area b on a.User_area = b.ID
	      LEFT JOIN Tower_city c on b.City_id = c.City_id
	      LEFT JOIN tower_user_order_info d  on a.Wx_id = d.Wx_id
	     where 1=1
	  <!-- admin -->
		<if test="adminCity!=null and adminCity!=''">
			and b.City_id=#{adminCity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and b.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
	  <if test="parameter.username != null and parameter.username != ''">
	  and a.User_name like '%${parameter.username}%'
	  </if>
	  <if test="parameter.usertele != null and parameter.usertele != ''">
	  and a.User_tele like '%${parameter.usertele}%'
	  </if>
	  <if test="parameter.usercity != null and parameter.usercity != ''">
	  and c.City_id = #{parameter.usercity}
	  </if>
	  <if test="parameter.userarea != null and parameter.userarea != 0">
	  and a.User_area = #{parameter.userarea}
	  </if>
	  ) w1)as tm where tm.rank between #{pageNo}*10-9 and #{pageNo}*10
	  ;
	</select>
	
	
	<select id="getDataUsersCount" parameterType="com.sdtower.common.bean.DataUserPage"
											 resultType="int">
	  select count(1)
	      from Tower_User_info a
	      LEFT JOIN Tower_area b on a.User_area = b.ID
	      LEFT JOIN Tower_city c on b.City_id = c.City_id
	      LEFT JOIN tower_user_order_info d  on a.Wx_id = d.Wx_id
	     where 1=1
	  <!-- admin -->
		<if test="adminCity!=null and adminCity!=''">
			and b.City_id=#{adminCity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and b.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
	  <if test="parameter.username != null and parameter.username != ''">
	  and a.User_name like '%${parameter.username}%'
	  </if>
	  <if test="parameter.usertele != null and parameter.usertele != ''">
	  and a.User_tele like '%${parameter.usertele}%'
	  </if>
	  <if test="parameter.usercity != null and parameter.usercity != ''">
	  and c.City_id = #{parameter.usercity}
	  </if>
	  <if test="parameter.userarea != null and parameter.userarea != 0">
	  and a.User_area = #{parameter.userarea}
	  </if>
		;
	</select>
	<select id="getDcDataUsers" parameterType="com.sdtower.common.bean.DataUserPage" resultType="map">
	
	   SELECT a.User_name as username,
	       a.User_tele as usertele,
	       c.City_name as cityname,
	       b.area_name as areaname,
	       (select count(1)from user_favourite_tower f where f.Wx_id=a.Wx_id) as gzcount,
	       d.Order_count as qdcount,
	       d.Succ_count as succcount,
	       d.Reject_count as rejectcount,
	       d.Cancel_count as cancelcount,
	       d.Time_count as timecount,
	       a.Add_time as addtime
	      from Tower_User_info a
	      LEFT JOIN Tower_area b on a.User_area = b.ID
	      LEFT JOIN Tower_city c on b.City_id = c.City_id
	      LEFT JOIN tower_user_order_info d  on a.Wx_id = d.Wx_id
	     where 1=1
	  <!-- admin -->
		<if test="adminCity!=null and adminCity!=''">
			and b.City_id=#{adminCity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and b.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
	  <if test="parameter.username != null and parameter.username != ''">
	  and a.User_name like '%${parameter.username}%'
	  </if>
	  <if test="parameter.usertele != null and parameter.usertele != ''">
	  and a.User_tele like '%${parameter.usertele}%'
	  </if>
	  <if test="parameter.usercity != null and parameter.usercity != ''">
	  and c.City_id = #{parameter.usercity}
	  </if>
	  <if test="parameter.userarea != null and parameter.userarea != 0">
	  and a.User_area = #{parameter.userarea}
	  </if>
	  order by a.Add_time  desc
	  ;
	
	</select>
</mapper>