<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdtower.mapper.ReportMapper">
	<!-- 获取订单报表列表 -->
	<select id="getReportOrders" parameterType="com.sdtower.common.bean.ReportOrderPage"
		resultType="com.sdtower.common.bean.ReportOrder">

		select * from (select *,ROW_NUMBER() OVER (ORDER BY toweraddtime desc)
		as rank from(
		select
		o.Order_id as orderid,
		u.User_name as username,
		u.User_tele as usertele,
		a.area_name as towerareaname,
		c.City_name as
		towercityname,
		t.Tower_name as towername,
		o.Tower_state as towerstate,
		o.Tower_fee as
		towerfee,
		CONVERT(varchar,
		o.Tower_add_time, 120 ) as
		toweraddtime,
		case
		o.Tower_state
		when 0 then
		'抢单'
		when 1 then '弃单'
		when 2
		then '交单'
		when 3
		then '审核拒绝(签约)'
		when 4 then
		'审核成功(签约)'
		when 5 then
		'付首款审核中'
		when 6 then
		'付首款审核成功'
		when 7 then
		'付首款审核拒绝'
		when 8 then '付尾款审核中'
		when 9 then '完成'
		when
		10 then
		'付尾款审核拒绝'
		when 11 then '超时过期'
		when 12 then
		'延期'
		when 13 then
		'延期申请中'
		when 14 then '延期拒绝'
		end as towerstatename
		from
		tower_order_detail
		o
		left join tower_user_info u on
		u.Wx_id=o.Tower_wx_id
		left join
		tower_tower_info t on t.ID=o.Tower_id
		left join tower_area a on
		a.ID=t.Tower_area
		left join tower_city c on
		c.City_id=a.City_id
		left join
		tower_area ua on ua.ID=u.User_area
		left
		join tower_city uc on
		uc.City_id=ua.City_id
		where 1=1
		and t.Tower_is_hb=0
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and a.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and a.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.towername!=null and parameter.towername!='' ">
			and t.Tower_name like '%${parameter.towername}%'
		</if>
		<if test="parameter.towercity !=null and parameter.towercity!=''">
			and  a.City_id=#{parameter.towercity}
		</if>
		<if test="parameter.towerarea !=null and parameter.towerarea!=0 ">
			and t.Tower_area=#{parameter.towerarea}
		</if>
		<if test="parameter.towerstate!=null and parameter.towerstate!=-1 ">
			and o.Tower_state=#{parameter.towerstate}
		</if>

		<if
			test="parameter.toweraddtimestart!=null and parameter.toweraddtimestart!=''">
			and o.Tower_add_time >=#{parameter.toweraddtimestart}
		</if>
		<if
			test="parameter.toweraddtimeend!=null and parameter.toweraddtimeend!=''">
			and o.Tower_add_time <![CDATA[ <= ]]>
			#{parameter.toweraddtimeend}
		</if>
		)w1)as tmp where tmp.rank between #{pageno}*10-9 and #{pageno}*10

	</select>

	<select id="getOrdersCount" parameterType="com.sdtower.common.bean.ReportOrderPage"
		resultType="int">

		select
		count(1)
		from tower_order_detail o
		left join tower_user_info u on
		u.Wx_id=o.Tower_wx_id
		left join tower_tower_info t on t.ID=o.Tower_id
		left join tower_area a on a.ID=t.Tower_area
		left join tower_city c on
		c.City_id=a.City_id
		left join tower_area ua on ua.ID=u.User_area
		left
		join tower_city uc on uc.City_id=ua.City_id
		where 1=1
		and
		t.Tower_is_hb=0
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and a.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and a.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.towername!=null and parameter.towername!='' ">
			and t.Tower_name like '%${parameter.towername}%'
		</if>
		<if test="parameter.towercity !=null and parameter.towercity!=''">
			and  a.City_id=#{parameter.towercity}
		</if>
		<if test="parameter.towerarea !=null and parameter.towerarea!=0 ">
			and t.Tower_area=#{parameter.towerarea}
		</if>
		<if test="parameter.towerstate!=null and parameter.towerstate!=-1 ">
			and o.Tower_state=#{parameter.towerstate}
		</if>
		<if
			test="parameter.toweraddtimestart!=null and parameter.toweraddtimestart!=''">
			and o.Tower_add_time >=#{parameter.toweraddtimestart}
		</if>
		<if
			test="parameter.toweraddtimeend!=null and parameter.toweraddtimeend!=''">
			and o.Tower_add_time <![CDATA[ <= ]]>
			#{parameter.toweraddtimeend}
		</if>
	</select>
	<!-- 订单报表导出 -->
	<select id="getDCReportOrders" parameterType="com.sdtower.common.bean.ReportOrderPage"
		resultType="map">
		select
		o.Order_id as orderid,
		u.User_name as username,
		u.User_tele as
		usertele,
		case
		u.User_level
		when 1 then '一级用户'
		when 2 then '二级用户'
		when 3
		then '三级用户'
		when 4 then '四级用户'
		end as userlevelname,
		ua.area_name as
		userareaname,
		uc.City_name as usercityname,
		u.User_company as
		usercompany,
		t.Tower_name as towername,
		a.area_name as towerareaname,
		c.City_name as
		towercityname,
		t.Tower_address as toweraddress,
		case
		t.Tower_level
		when 1
		then '一级站址'
		when 2 then '二级站址'
		when 3 then '三级站址'
		when 4 then '四级站址'
		end as towerlevelname,
		p.Tower_type_name as
		towertypename,
		t.Tower_large as towerlarge,
		t.Tower_j as towerj,
		t.Tower_w as towerw,
		t.Tower_manager as towermanager,
		t.Tower_info as
		towerinfo,
		case o.Tower_state
		when 0 then
		'抢单'
		when 1 then '弃单'
		when 2 then
		'交单'
		when 3
		then '审核拒绝(签约)'
		when 4 then
		'审核成功(签约)'
		when 5 then '付首款审核中'
		when 6 then
		'付首款审核成功'
		when 7 then
		'付首款审核拒绝'
		when 8 then '付尾款审核中'
		when 9
		then '完成'
		when
		10 then
		'付尾款审核拒绝'
		when 11 then '超时过期'
		when 12 then '延期'
		when
		13 then
		'延期申请中'
		when 14 then '延期拒绝'
		end as towerstatename,
		o.Tower_fee as
		towerfee,
		o.Tower_first_fee as towerfirstfee,
		o.Tower_end_fee as
		towerendfee,
		CONVERT(varchar,
		o.Tower_add_time, 120 ) as toweraddtime
		from
		tower_order_detail
		o
		left join tower_user_info u on
		u.Wx_id=o.Tower_wx_id
		left join
		tower_tower_info t on t.ID=o.Tower_id
		left join tower_area a on
		a.ID=t.Tower_area
		left join tower_city c on
		c.City_id=a.City_id
		left join
		tower_area ua on ua.ID=u.User_area
		left
		join tower_city uc on
		uc.City_id=ua.City_id
		left join tower_tower_type p
		on p.ID=t.Tower_type
		where 1=1
		and t.Tower_is_hb=0
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and a.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and a.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.towername!=null and parameter.towername!='' ">
			and t.Tower_name like '%${parameter.towername}%'
		</if>
		<if test="parameter.towercity !=null and parameter.towercity!=''">
			and  a.City_id=#{parameter.towercity}
		</if>
		<if test="parameter.towerarea !=null and parameter.towerarea!=0 ">
			and t.Tower_area=#{parameter.towerarea}
		</if>
		<if test="parameter.towerstate!=null and parameter.towerstate!=-1 ">
			and o.Tower_state=#{parameter.towerstate}
		</if>

		<if
			test="parameter.toweraddtimestart!=null and parameter.toweraddtimestart!=''">
			and o.Tower_add_time >=#{parameter.toweraddtimestart}
		</if>
		<if
			test="parameter.toweraddtimeend!=null and parameter.toweraddtimeend!=''">
			and o.Tower_add_time <![CDATA[ <= ]]>
			#{parameter.toweraddtimeend}
		</if>
	</select>

	<!-- ++++++++++++++++++++++++++++++++++收款报表++++++++++++++++++++++++++++++++++++++++++ -->

	<select id="getReportTxs" parameterType="com.sdtower.common.bean.ReportTxPage"
		resultType="com.sdtower.common.bean.ReportTx">
		select * from (select *,ROW_NUMBER() OVER (ORDER BY adddate desc) as
		rank
		from(
		select
		r.Tx_id as txid,
		u.User_name as username,
		r.Bank_back_id
		as
		bankbackid,
		t.Tower_name as towername,
		c.City_name as towercityname,
		a.area_name as towerareaname,
		s.Fee as fee,
		CONVERT(varchar,
		r.Add_date,
		120 ) as adddate
		from tower_user_tx_source s
		left join
		tower_user_tx_record r on r.ID=s.Tx_id
		left join tower_order_detail o
		on o.ID=s.Order_id
		left join tower_tower_info t on t.ID=o.Tower_id
		left
		join tower_user_info u on u.Wx_id=s.Wx_id
		left join tower_area a on
		a.ID=t.Tower_area
		left join tower_city c on c.City_id=a.City_id
		left
		join tower_area ua on ua.ID=u.User_area
		left join tower_city uc on
		uc.City_id=ua.City_id
		where 1 = 1
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and uc.City_id=#{admincity}
		</if>
			<if test="admincitys!=null">
	   and uc.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and ua.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and  ua.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		and (r.state=5 or r.state=6)
		) w1)as t where t.rank between
		#{pageno}*10-9 and #{pageno}*10;
	</select>


	<select id="getReportTxsCount" parameterType="com.sdtower.common.bean.ReportTxPage"
		resultType="int">
		select
		count(1)
		from tower_user_tx_source s
		left join
		tower_user_tx_record r on r.ID=s.Tx_id
		left join tower_order_detail o
		on o.ID=s.Order_id
		left join tower_tower_info t on t.ID=o.Tower_id
		left
		join tower_user_info u on u.Wx_id=s.Wx_id
		left join tower_area a on
		a.ID=t.Tower_area
		left join tower_city c on c.City_id=a.City_id
		left
		join tower_area ua on ua.ID=u.User_area
		left join tower_city uc on
		uc.City_id=ua.City_id
		where 1 = 1
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and uc.City_id=#{admincity}
		</if>
			<if test="admincitys!=null">
	   and uc.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and ua.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and  uc.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		and (r.state=5 or r.state=6)
	</select>
	<select id="getDCReportTxs" parameterType="com.sdtower.common.bean.ReportTxPage"
		resultType="map">
		select
		r.Tx_id as txid,
		u.User_name as username,
		b.Bank_name as bankname,
		b.Bank_open as bankopen,
		b.Bank_cardid as bankcardid,
		r.Bank_back_id as
		bankbackid,
		o.Order_id as orderid,
		t.Tower_id as towerid,
		t.Tower_name as
		towername,
		c.City_name as towercityname,
		a.area_name as towerareaname,
		case s.Fee_type
		when 0 then '预付款'
		when 1 then '尾款'
		end as feetype,
		s.Fee
		as fee,
		CONVERT(varchar,
		r.Add_date, 120 ) as adddate
		from
		tower_user_tx_source
		s
		left join tower_user_tx_record r on r.ID=s.Tx_id
		left join
		tower_order_detail o on o.ID=s.Order_id
		left join
		tower_tower_info t on
		t.ID=o.Tower_id
		left join tower_user_info u on
		u.Wx_id=s.Wx_id
		left join
		tower_area a on a.ID=t.Tower_area
		left join
		tower_city c on
		c.City_id=a.City_id
		left join tower_area ua on
		ua.ID=u.User_area
		left
		join tower_city uc on uc.City_id=ua.City_id
		left
		join tower_user_bank b
		on b.id=r.Card_id
		where 1 = 1
		<!-- admin -->
		<if test="admincity!=null and admincity!=''">
			and uc.City_id=#{admincity}
		</if>
			<if test="admincitys!=null">
	   and uc.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and ua.ID in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name like '%${parameter.username}%'
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and  uc.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		and (r.state=5 or r.state=6)
	</select>

	<!-- ++++++++++++++++++++++++++++++++++用户报表++++++++++++++++++++++++++++++++++++++++++ -->

	<select id="getReportUsers" parameterType="com.sdtower.common.bean.ReportUserPage"
		resultType="com.sdtower.common.bean.ReportUser">
		select * from (select *,ROW_NUMBER() OVER (ORDER BY useraddtime desc)
		as rank from(
		select
		u.Wx_name as wxname,
		u.User_name as username,
		u.User_tele as usertele,
		(case u.user_level when 1 then '一级用户' when 2
		then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as userlevel,
		d.Type_name as usertype,
		m.Get_now as getnow,
		m.Getting_now as
		gettingnow,
		o.Order_count as ordercount,
		CONVERT(varchar,
		u.Add_time, 120
		) as useraddtime
		from tower_user_info u
		LEFT JOIN tower_area b on
		u.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id= c.City_id
		LEFT
		JOIN tower_user_type d on u.User_type = d.ID
		LEFT JOIN
		tower_user_charge m on m.Wx_id=u.Wx_id
		LEFT JOIN tower_user_order_info
		o on o.Wx_id=u.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and u.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and u.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and u.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and u.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		) w1)as t where t.rank between #{pageno}*10-9 and #{pageno}*10;
	</select>

	<select id="getReportUsersCount" parameterType="com.sdtower.common.bean.ReportUserPage"
		resultType="int">
		select count(1)
		from tower_user_info u
		LEFT JOIN tower_area b on
		u.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id= c.City_id
		LEFT
		JOIN tower_user_type d on u.User_type = d.ID
		LEFT JOIN
		tower_user_charge m on m.Wx_id=u.Wx_id
		LEFT JOIN tower_user_order_info
		o on o.Wx_id=u.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and u.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name=#{parameter.username}
		</if>
			<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and u.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and u.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and u.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		;
	</select>


	<select id="getDCReportUsers" parameterType="com.sdtower.common.bean.ReportUserPage"
		resultType="map">
		select
		u.Wx_name as wxname,
		u.User_name as username,
		case u.User_sex
		when 1 then '男'
		when 2 then '女'
		end  as usersex,
		u.User_tele as usertele,
		c.City_name as usercityname,
		b.area_name as userareaname,
		u.User_company as usercompany,
		(case u.user_level when 1 then '一级用户' when 2
		then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as userlevel,
		d.Type_name as usertype,
		(select count(1) from user_favourite_tower f where f.Wx_id =u.Wx_id) as favouritecount,
		o.Order_count as ordercount,
		o.Succ_count as succcount,
		o.Fail_count as failcount,
		o.Cancel_count as cancelcount,
		o.Ing_count as ingcount,
		m.Charge as charge,
		m.Get_now as getnow,
		m.Getting_now as gettingnow,
		CONVERT(varchar,
		u.Add_time, 120
		) as useraddtime
		from tower_user_info u
		LEFT JOIN tower_area b on
		u.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id= c.City_id
		LEFT
		JOIN tower_user_type d on u.User_type = d.ID
		LEFT JOIN
		tower_user_charge m on m.Wx_id=u.Wx_id
		LEFT JOIN tower_user_order_info
		o on o.Wx_id=u.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and u.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and u.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and u.User_name=#{parameter.username}
		</if>
			<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and u.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and u.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and u.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and u.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and u.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and u.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		order by u.Add_time desc
		;
	</select>



</mapper>