<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdtower.mapper.UserMapper">
	<!-- 获取用户信息 -->
	<select id="getUserInfo" parameterType="String"
		resultType="com.sdtower.common.bean.UserInfo">
		select
		u.Wx_name as wxname,
		u.User_name as username,
		u.User_tele as usertele,
		u.User_sex as usersex,
		u.User_old as userold,
		u.User_business as
		userbusiness,
		u.User_area as userarea,
		u.User_bz as userbz,
		u.User_company
		as usercompany,
		(select User_name from tower_user_info u1 where u1.ID=
		u.User_tj_id) as usertjname,
		a.City_id as cityid,
		a.area_name as
		areaname,
		c.City_name as cityname,
		m.Score as score,
		m.Experience as exp
		from tower_user_info u
		left join tower_user_charge m on m.Wx_id=u.Wx_id
		left join tower_area a on a.ID=u.User_area
		left join tower_city c on a.City_id=c.City_id
		where 1=1
		and u.Wx_id=#{wxid}
		;
	</select>
	<select id="getUserInfos" parameterType="com.sdtower.common.bean.UserManagePage"
		resultType="com.sdtower.common.bean.UserInfo">
		select * from (select *,ROW_NUMBER() OVER (ORDER BY addtime desc) as rank from(
		select a.ID as id,
		a.Wx_id as wxid,
		a.User_tele as usertele,
		a.User_name as username,
		a.User_company as usercompany,
		b.area_name as areaname,
		c.City_name as cityname,
		(case a.user_level when 1 then '一级用户' when 2 then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as levelname,
		a.User_type as usertype,
		d.Type_name as typename,
		a.User_state as userstate,
		(case a.User_state when 0 then '冻结' when 1 then '正常' end ) as statename,
		a.Add_time as addtime
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		where 1=1 
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		<if
			test="parameter.userbz!=null and parameter.userbz!=''">
			and a.User_bz like '%${parameter.userbz}%'
		</if>
		) w1)as t where t.rank between #{pageno}*#{pageSize}-(#{pageSize}-1) and #{pageno}*#{pageSize};
	</select>

	<select id="getUserInfosCount" parameterType="com.sdtower.common.bean.UserManagePage"
		resultType="int">
		select count(1)
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		<if
			test="parameter.userbz!=null and parameter.userbz!=''">
			and a.User_bz like '%${parameter.userbz}%'
		</if>
		;
	</select>

	<select id="getUserMoneys" parameterType="com.sdtower.common.bean.UserMoneyPage"
		resultType="com.sdtower.common.bean.UserMoney">
		select * from (select *,ROW_NUMBER() OVER (ORDER by addtime desc) as rank from(
		select a.ID as id,
		a.User_tele as usertele,
		a.User_name as username,
		b.area_name as areaname,
		c.City_name as cityname,
		(case a.user_level when 1 then '一级用户' when 2 then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as levelname,
		d.Type_name as typename,
		e.Charge as charge,
		e.Get_now as getnow,
		e.Getting_now as gettingnow,
		e.All_geting as allgeting,
		e.Score as score,
		e.Experience as exp,
		a.Add_time as addtime,
		a.Wx_id as userwxid
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		LEFT JOIN tower_user_charge e on a.Wx_id = e.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		) w1)as t where t.rank between #{pageno}*#{pageSize}-(#{pageSize}-1) and #{pageno}*#{pageSize};
	</select>

	<select id="getUserMoneysCount" parameterType="com.sdtower.common.bean.UserMoneyPage"
		resultType="int">
		select count(1)
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		LEFT JOIN
		tower_user_charge e on a.Wx_id = e.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		;
	</select>

	<select id="getUserDetail" parameterType="String"
		resultType="com.sdtower.common.bean.UserInfo">
		SELECT a.Wx_id as wxid,
		a.Wx_name as wxname,
		(case a.User_sex when 1 then '男' when 2 then '女' end ) as sexname,
		a.Add_time as addtime,
		a.User_name as username,
		b.area_name as areaname,
		c.City_name as cityname,
		a.User_tele as usertele,
		a.User_company as usercompany,
		a.User_bz as userbz,
		(case a.user_level when 1 then '一级用户' when 2 then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as levelname,
		d.Type_name as typename,
		a.User_type as usertype,
		a.User_state as userstate,
		(case a.User_state when 0 then '冻结' when 1 then '正常' end ) as statename,
		e.Order_count as ordercount,
		e.Succ_count as succcount,
		e.Ing_count as ingcount,
		e.Fail_count as failcount,
		e.Cancel_count as cancelcount,
		m.Score as score,
		m.Experience as exp
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		LEFT JOIN tower_user_order_info e on a.Wx_id = e.Wx_id
		LEFT JOIN tower_user_charge m on m.Wx_id=a.Wx_id
		where a.Wx_id =#{wxid};
	</select>

	<select id="getOrderInfos" parameterType="String"
		resultType="com.sdtower.common.bean.OrderInfo">
		select
		a.Order_id as orderid,
		b.Tower_id as towerbh,
		b.Tower_name as towername,
		a.Tower_fee as towerfee,
		a.Tower_first_fee as towerfirstfee,
		a.Tower_end_fee as towerendfee,
		a.Tower_end_date as towerenddate,
		case a.Tower_state
		when 0 then
		'抢单'
		when 1 then '弃单'
		when 2 then '交单'
		when 3 then '审核拒绝(签约)'
		when 4 then
		'审核成功(签约)'
		when 5 then '付首款审核中'
		when 6 then '付首款审核成功'
		when 7 then
		'付首款审核拒绝'
		when 8 then '付尾款审核中'
		when 9 then '完成'
		when 10 then
		'付尾款审核拒绝'
		when 11 then '超时过期'
		when 12 then '延期'
		when 13 then '延期申请中'
		end as towerstatename,
		a.Tower_add_time as toweraddtime
		from tower_order_detail a,
		tower_tower_info b
		where a.Tower_id = b.ID
		and a.Tower_wx_id = #{wxid};
	</select>

	<update id="updateuserstate" parameterType="map">
		update
		tower_user_info
		set User_state = #{state}
		where wx_id = #{wxid};
	</update>

	<update id="updateusertype" parameterType="map">
		update tower_user_info
		set User_type = #{usertype}
		where wx_id = #{wxid};
	</update>
	
	<update id="updateUserBz" parameterType="map">
		update tower_user_info
		set User_bz = #{userbz}
		where wx_id = #{wxid};
	</update>


	<select id="getDcUser" parameterType="com.sdtower.common.bean.UserManagePage"
		resultType="map">


		select a.ID as id,
		a.Wx_id as wxid,
		a.Wx_name as wxname,
		a.User_tele as usertele,
		case a.User_sex
		when 1 then '男'
		when 2 then '女'
		end as usersex,
		a.User_name as username,
		a.User_company as usercompany,
		b.area_name as areaname,
		c.City_name as cityname,
		(case a.user_level when 1 then '一级用户' when 2 then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as levelname,
		a.User_type as usertype,
		d.Type_name as typename,
		a.User_state as userstate,
		(case a.User_state when 0 then '冻结' when 1 then '正常' end ) as statename,
		a.Add_time as addtime
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
		order by a.Add_time desc
		;

	</select>


	<select id="getDcUserFee" parameterType="com.sdtower.common.bean.UserMoneyPage"
		resultType="map">
		select a.ID as id,
		a.User_name as username,
		a.User_tele as usertele,
		c.City_name as cityname,
		b.area_name as areaname,
		(case a.user_level when 1 then '一级用户' when 2 then '二级用户' when 3 then '三级用户'
		when 4 then '四级用户' end ) as levelname,
		d.Type_name as typename,
		e.Charge as charge,
		e.Get_now as getnow,
		e.Getting_now as gettingnow,
		e.All_geting as allgeting,
		e.Score as score,
		e.Experience as exp,
		a.Add_time as addtime
		from tower_user_info a
		LEFT JOIN tower_area b on a.User_area = b.ID
		LEFT JOIN tower_city c on b.City_id = c.City_id
		LEFT JOIN tower_user_type d on a.User_type = d.ID
		LEFT JOIN tower_user_charge e on a.Wx_id = e.Wx_id
		where 1=1
		<if test="admincity!=null and admincity!=''">
			and b.City_id=#{admincity}
		</if>
		<if test="admincitys!=null">
	   and b.City_id in(
	  <foreach collection="admincitys" item="city" separator=",">
	   #{city.cityid}
	  </foreach>
	  )
	  </if>
		<if test="adminareas!=null">
			and a.User_area in(
			<foreach collection="adminareas" item="area" separator=",">
				#{area.id}
			</foreach>
			)
		</if>
		<!-- admin end -->
		<if test="parameter.usertele!=null and parameter.usertele!='' ">
			and a.User_tele=#{parameter.usertele}
		</if>
		<if test="parameter.username!=null and parameter.username!='' ">
			and a.User_name=#{parameter.username}
		</if>
		<if test="parameter.usercity!=null and parameter.usercity!='' ">
			and b.City_id=#{parameter.usercity}
		</if>
		<if test="parameter.userarea!=null and parameter.userarea!=0 ">
			and a.User_area=#{parameter.userarea}
		</if>
		<if test="parameter.userlevel!=null and parameter.userlevel!=-1 ">
			and a.user_level=#{parameter.userlevel}
		</if>
		<if test="parameter.userstate!=null and parameter.userstate!=-1 ">
			and a.User_state=#{parameter.userstate}
		</if>
		<if test="parameter.usertype!=null and parameter.usertype!=-1 ">
			and a.User_type=#{parameter.usertype}
		</if>
		<if
			test="parameter.useraddtimestart!=null and parameter.useraddtimestart!=''">
			and a.Add_time >=#{parameter.useraddtimestart}
		</if>
		<if test="parameter.useraddtimeend!=null and parameter.useraddtimeend!=''">
			and a.Add_time <![CDATA[ <= ]]>
			#{parameter.useraddtimeend}
		</if>
	</select>
	
	<update id="updateUserLevle" parameterType="com.sdtower.common.bean.UserChargeInfo">
	  update tower_user_info
	  set User_level=#{userlevel}
	  where Wx_id=#{wxid}
	  ;
	</update>
	<select id="getUserArea" parameterType="map" resultType="map">
	  select
		u.User_area as area,
		a.City_id as city
		from tower_user_info u
		left join
		tower_area a on a.ID=u.User_area
		left join tower_city c on
		a.City_id=c.City_id
		where 1=1
		and u.Wx_id=#{wxid}
		;
	</select>
	<select id="getUserTypes" resultType="com.sdtower.common.bean.UserType" >
	 select ID as id,
	 Type_name as typename
	 from tower_user_type
	</select>
	<select id="getUserInfosByTwNotice" parameterType="com.sdtower.common.bean.SendNoticeParameter" resultType="com.sdtower.common.bean.UserInfo">
	  select
		 u.Wx_id as wxid
		from tower_user_info u
		left join tower_area a on a.ID=u.User_area
		left join tower_city c on a.City_id=c.City_id
		where 1=1
		<if test="userlevel!=null and userlevel!=0">
		and u.User_level=#{userlevel}
		</if>
		<if test="usertype!=null and usertype!=0">
		   and u.User_type=#{usertype}
		</if>
		<if test="citys!=null">
		 and c.City_id in(
		 <foreach collection="citys" item="city" separator=",">
		   #{city}
		 </foreach>
		 )
		</if>
		<if test="areas!=null">
		 and a.ID in (
		 <foreach collection="areas" item="area" separator=",">
		   #{area}
		 </foreach>
		 )
		</if>
	
	
	</select>

</mapper>